<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                <b>프로그래머가 아닌 개발자</b>
                <br/>
                누군가에 지시로 결과물만 생각하여 코드를 작성한다면 AI도 가능한 영역입니다.
                <br/>
                하지만 요구사항에 대한 분석 후 일정과 의견을 수립하여, 설계하고 협업하면서 테스트를 걸쳐 다양한 예외 상황을 처리하여 결과를 도출하는 것은 사람의 몫입니다.
                <br/>
                그러한 영역에서 업무를 진행하는 사람을 개발자라 칭하기에 끊임없이 발전하며 너 나은 개발자가 목표입니다.
            </p>

            <p class="paragraph-text justify-text">
                <b>성격의 장단점</b>
                <br/>
                어떠한 일을 진행하기 위해 무엇이 문제인지, 어떠한 방향성을 가지고 진행해야 하는지 고민하고 공유하여 이를 해결하고자 합니다.
                <br/>
                이후 업무 시작 시 집중하기 이른 시일 내에 끝마치려고 합니다.
                <br/>
                다만 집중하게 시작하면 주위가 어두워져 일부 상황을 살피지 못하는 경향이 있으며, 마음 한구석에 걸림이 자리 잡기 시작하면 그 부분을 타파하기 위해 오랜 시간 고민을 하곤 합니다.
            </p>

            <p class="paragraph-text justify-text">
                저는 <a href="{{ site.blog_url }}" target="_blank">tistory</a> 에서 학습에 대한 결과와 기타 활동에 대해 글을 쓰는 작은 블로그를 운영하고 있습니다.
                <br/>
                제 이메일 주소는 이 페이지 하단에서 확인할 수 있습니다.
            </p>
        </div>
    </section>
</div>
