<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>

            <div class="project-technologies">
                <!-- 전체 -->
                <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                <!-- 작업중 -->
                <a id="progress" class="semi-transparent-button with-border white-button" onclick="selected('progress')">Progress</a>
                <!-- 작업완료 -->
                <a id=done" class="semi-transparent-button with-border white-button" onclick="selected('done')">Done</a>
                <!-- 웹 -->
                <a id="web" class="semi-transparent-button with-border white-button" onclick="selected('web')">Web</a>
                <!-- 시스템 -->
                <a id="system" class="semi-transparent-button with-border white-button" onclick="selected('system')">System</a>
            </div>

            <div class="projects-wrapper">
                <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
