<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        저는 개발을 좋아하고 즐기는 개발자입니다.
                        웹과 시스템에 모두 흥미를 가지고 있으며 진지한 열정을 가지고 있습니다.
                        <br/>
                        그렇기에 여러가지 스킬을 활용하여 개발을 하고있습니다.
                    </p>
                </div>

                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">List</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java/Spring</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                기본적인 문법과 각 기능들을 사용가능하며 업무에서 사용하는 프레임워크의 기본적인 언어로 업무에서 적극적으로 활용합니다.
                                -
                                업무에 적극적으로 활용하며 주로 사용하는 프레임워크입니다.
                                라이브러리를 이용하여 AWS SDK 및 외무 API 연동이 가능하며 커스텀 어노테이션과 프레임워크에서 지원하는 기능을 적극 활용합니다.
                                DataSource 세팅 및 기본 세팅 부분에서 미흡한 점이 존재합니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Kotlin</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                인터넷강의 및 교재를 바탕으로 학습 진행중입니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>React</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                교재 및 검색을 바탕으로 학습 진행중입니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MyBatis</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                Spring, Spring boot에서 주요로 사용하였으며 Mapper 인터페이스에서 어노테이션이 아닌 XML에 직접 쿼리를 작성하는 방식으로 진행하였습니다.
                                session관련 세팅부분에서 학습이 부족하여 미흡한 부분이 존재합니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JPA</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                            <div class="skillbar-desc">
                                Spring boot에서 일부 기능에 사용하였으며 Repository 인터페이스에서 어노테이션을 비롯한 함수명을 통해 사용하였습니다.
                                일부 기본 세팅부분에서 학습이 부족하여 미흡한 부분이 존재합니다.
                            </div>
                        </div>


                        <div class="skillbar clearfix " data-percent="40%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Node.js</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                AWS Lambda를 작성할 때 사용하였으며, SDK연동과 클래스형 함수형 코드로 작성이 가능합니다.
                                또한 사내 운영팀 요청건 중 데이터의 일부를 API를 통해 동작시켜야 하는 부분에서 불편함이 존재하여 여러 API가 순차적으로 동작하도록 하는 간소한 기능을 개발하였지만 그 외 따로 업무에 사용한 경험이 없습니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="40%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                AWS Lambda를 작성할 때 사용하였으며, SDK연동과 클래스형 함수형 코드로 작성이 가능하지만 그 외 따로 업무에 사용한 경험이 없습니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="45%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>PHP</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                기본적인 수준이며 다양히 존재하는 프레임워크들의 종속적 기능이 아닌 기본적인 문법은 업무에 사용이 가능합니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9"><span>MySQL</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skillbar-desc">
                                원하는 정보 조회가 가능하며 취합 및 특정 기능에 대한 활용이 가능한 정도입니다.
                                Datagrip IDE를 통해 동일 스키마 마이그레이션을 진행한 적이 있지만 사용자 편의를 극대화한 IDE이기에 간단히 작업 가능하였습니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9"><span>GitHub</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                            <div class="skillbar-desc">
                                github actions를 통해 AWS Lambda의 CD를 적용하였으며,
                                PR을 통한 코드 리뷰와 approve를 진행한 이력이 있지만 관리쪽 기능은 연차로서 맞지 않아 진행하지 못하였습니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9"><span>AWS Lambda</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                            <div class="skillbar-desc">
                                Layer, Alias, Version, Trigger와 Memory Option을 설정할 수 있으며 NodeJs, Python으로 주로 작성하였기에 JAVA, Linux, Ruby 등의 언어로 개발은 미숙합니다.
                            </div>
                        </div>

                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9"><span>AWS S3</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                            <div class="skillbar-desc">
                                버킷생성, 라이프사이클, 공개설정, ACL 설정이 가능하지만
                                다른 타입의 버킷생성은 학습이 부족하며 실제 적용 경험이 없습니다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
