<div class="section-wrapper">
    <section class="section walks" id="walk">
        <div>
            <div class="section-heading" id="walk-text">Walk</div>

            <ul class="walk-list">
                <li class="walk-item">
                    <h2 class="walk-title">2016.03</h2>
                    <p class="walk-content">
                        성남고등학교 입학
                        <br/>
                        문과계열 선택
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2019.02</h2>
                    <p class="walk-content">
                        성남고등학교 졸업
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2019.02</h2>
                    <p class="walk-content">
                        대림대학교 컴퓨터정보학부 입학
                        <br/>
                        DevOps엔지니어양성반 전공 선택
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2021.08</h2>
                    <p class="walk-content">
                        학교연계로 태인교육에서 여름방학 인턴쉽 진행
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2021.10</h2>
                    <p class="walk-content">
                        학교연계가 아닌 구직사이트와 교수님의 인정으로 웨비더스에서 인턴쉽 진행
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2022.01</h2>
                    <p class="walk-content">
                        졸업 전 정규직 전환 완료
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2022.02</h2>
                    <p class="walk-content">
                        대림대학교 졸업
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2022.04</h2>
                    <p class="walk-content">
                        성장을 위해 개발 언어의 변경으로 퇴사 후 콜로세움 코퍼레이션으로 이직
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2024.08</h2>
                    <p class="walk-content">
                        육체적, 정신적 지침과 회사와의 나아가려는 방향성 차이로 퇴사
                    </p>
                </li>

                <li class="walk-item">
                    <h2 class="walk-title">2024.10</h2>
                    <p class="walk-content">
                        컴즈 입사
                    </p>
                </li>
            </ul>

        </div>
    </section>
</div>
