.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    font-family: 'PT Sans', sans-serif;
    box-shadow: -4px 8px 16px 0 rgba(0, 0, 0, 0.24);
}

.skillbar-title {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background: #6adcfa;
}

.past {
    background: gray !important;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 28px;
    line-height: 28px;
}

.skillbar-desc {
    background: rgb(150 201 236);
    padding: 5px;
}

.skillbar-bar {
    height: 28px;
    width: 0;
    background: #6adcfa;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1rem;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

summary {
    font-size: 1.3rem;
}

.technical-skills:not(:last-child) {
    margin-bottom: 30px;
}
